.album-page {
    max-width: 1000px;
    margin: 0 20%;
    padding: 20px;
  }
  .boton-volver {
    margin-bottom: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #1db954;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .detalle-album {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
  }
  .album-imagen {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 16px;
  }
  .album-info h1 {
    margin: 0;
    font-size: 24px;
  }
  .album-info h2 {
    margin: 4px 0;
    font-size: 18px;
    color: #666;
  }
  .lista-pistas {
    list-style: none;
    padding: 0;
  }
  .pista-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    border: 1px solid #242424;
    border-radius: 20px;
    margin: 10px 0;
    width: 500px;
  }
  .pista-nombre { 
    flex: 2; 
    text-align: right; 
    color: black;
    text-decoration: none;
  }
  .pista-nombre:hover { 
    flex: 2; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

  }
  .pista-duracion, .pista-popularidad { flex: 1; text-align: center;}
  .cargando, .mensaje-error {
    text-align: center;
    color: #666;
  }

  .boton-favorito {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.boton-favorito:hover {
  background-color: #17a94a;
}
  