
.favoritos-container {
  width: 300px;
  padding: 20px;
  background-color: #1f1f1f;      
  border: 2px solid #17a94a;      
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


.favoritos-container h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  color: #1db954;
  text-align: center;
}


.favoritos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}


.favorito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #333;
}

.favorito-item:last-child {
  border-bottom: none;
}

.favorito-item span {
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  margin-right: 4px;
}

.favorito-item a {
  flex: 1;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 8px;
}

.favorito-item a:hover {
  color: #1db954;
}


.favorito-item button {
  background-color: #b33a3a;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.favorito-item button:hover {
  background-color: #9a2e2e;
}
