.lista-productos {
  margin: 40px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta-producto {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  gap: 20px;
  background-color: #f9f9f9;
}

.imagen-producto {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.info-producto {
  display: flex;
  flex-direction: column;
}

.titulo-producto {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.vendedor-producto {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.precio-producto {
  font-size: 18px;
  color: #00a650;
  margin-top: 10px;
}