
.contenedor-mostrar {
  width: 80%;
  margin: 20px auto;
  padding: 100px 10px 10px;
  box-sizing: border-box;
}


.boton-volver-buscar {
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
}
.boton-volver-buscar:hover {
  background-color: #17a94a;
}


.lista-artistas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}


.tarjeta-artista {
  display: grid;
  grid-template-rows: 5fr 1fr;  
  width: 220px;
  height: 320px;
  border: 3px solid #17a94a;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.tarjeta-artista:hover {
  transform: translateY(-4px);
  color: #14853c;
}


.imagen-container {
  max-width: 220px;
  background-color: rgba(30, 215,96,0.2);
  align-content: center;
}
.imagen-artista {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: auto;
}


.info-artista {
  padding: 8px;
  background-color:rgba(30, 215,96,0.2);
  text-align: center;
}


.nombre-artista {
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
}
.genero-artista,
.seguidores-artista {
  font-size: 12px;
  color: #666;
  margin: 2px 0;
}

    .boton-favorito {
      display: inline-block;
      margin-top: 8px;
      padding: 6px 12px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      background-color: #1db954;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.2s ease;
}

.boton-favorito:hover {
  background-color: #17a94a;
}