.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 1080px;
  background:linear-gradient(60deg, aquamarine, #fff)  ;
}

.busqueda-y-favoritos {
  display: flex;
  gap: 20px;
}

/* Ajustá el ancho a tu gusto */
.busqueda-y-favoritos > .favoritos-container {
  width: 300px;
}
